/* -----------------------------------------------------------------------------------------------------------------------------
BOOTSRTAP EXTRA
--------------------------------------------------------------------------------------------------------------------------------*/

.mb-md-70{
	@include md{
	margin-bottom: 70px;	
	}
	
}
// 40px
.g-custom,
.gx-custom {
	--bs-gutter-x: 37px;
	@include sm {
		--bs-gutter-x: 10px;
	}
}
.g-custom,
.gy-custom {
	--bs-gutter-y: 25px;
	@include sm {
		--bs-gutter-y: 40px;
	}
}



// 100px
.g-100,
.gx-100 {
	--bs-gutter-x: 100px;
}
.g-100,
.gy-100 {
	--bs-gutter-y: 100px;
}


// 20px
.g-20,
.gx-20 {
	--bs-gutter-x: 20px;
}
.g-20,
.gy-20 {
	--bs-gutter-y: 20px;
}


// 40px
.g-40,
.gx-40 {
	--bs-gutter-x: 40px;
}
.g-40,
.gy-40 {
	--bs-gutter-y: 40px;
}

// 37px
.g-37,
.gx-37 {
	--bs-gutter-x: 37px;
}
.g-37,
.gy-37 {
	--bs-gutter-y: 37px;
}

// xl-25px
.g-xl-25,
.gx-xl-25 {
	@include xl {
		--bs-gutter-x: 25px;
	}
}
.g-xl-25,
.gy-xl-25 {
	@include xl {
		--bs-gutter-y: 25px;
	}
}

// md-15px
.g-md-15,
.gx-md-15 {
	@include md {
		--bs-gutter-x: 15px;
	}
}
.g-md-15,
.gy-md-15 {
	@include md {
		--bs-gutter-y: 15px;
	}
}

// xl-40px
.g-xl-40,
.gx-xl-40 {
	@include xl {
		--bs-gutter-x: 40px;
	}
}
.g-xl-40,
.gy-xl-40 {
	@include xl {
		--bs-gutter-y: 40px;
	}
}


// 35px
.g-35,
.gx-35 {
	--bs-gutter-x: 35px;
}
.g-35,
.gy-35 {
	--bs-gutter-y: 35px;
}

// sm 15
.g-sm-15,
.gx-sm-15 {
	@include sm {
		--bs-gutter-x: 15px;
	}
}
.g-sm-15,
.gy-sm-15 {
	@include sm {
		--bs-gutter-y: 15px;
	}
}

// sm 25
.g-sm-25,
.gx-sm-25 {
	@include sm {
		--bs-gutter-x: 25px;
	}
}
.g-sm-25,
.gy-sm-25 {
	@include sm {
		--bs-gutter-y: 25px;
	}
}

// md 25
.g-md-25,
.gx-md-25 {
	@include md {
		--bs-gutter-x: 25px;
	}
}
.g-md-25,
.gy-md-25 {
	@include md {
		--bs-gutter-y: 25px;
	}
}


.sm-hidden{
    @include sm{
        display: none;
    }
}
.xl2-hidden{
    @include xl2{
        display: none;
    }
}
.lg-hidden{
    @include lg{
        display: none;
    }
}