/* -----------------------------------------------------------------------------------------------------------------------------
BOOTSRTAP EXTRA
--------------------------------------------------------------------------------------------------------------------------------*/

// 16px
.g-custom-40,
.gx-custom-40 {
	--bs-gutter-x: 40px;
    @include sm{
        --bs-gutter-x: 10px;
    }
}
.g-custom-40,
.gy-custom-40 {
	--bs-gutter-y: 40px;
    @include sm{
        --bs-gutter-y: 40px;
    }
}

