/* ------------------------------------------------------------------------------------------------------------------------------
COMPONENTS
--------------------------------------------------------------------------------------------------------------------------------*/
.section__title {
	position: relative;
	z-index: 1;
	user-select: none;

	font-weight: 400;
	font-size: rem(47);
	line-height: 110%;

	text-align: center;

	.title-decor {
		font-family: var(--font-decor);
		font-style: italic;
		font-weight: 700;
		font-size: rem(50);
		@include sm {
			font-size: rem(36);
		}
	}

	@include sm {
		font-size: rem(36);
	}
}

[class*="_block"] {
	position: relative;
	z-index: 3;
	padding-block: rem(100);
	border-radius: rem(100);

	overflow: hidden;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	@include md {
		border-radius: rem(50);
		padding-block: rem(70);
	}
}

[class*="_part"] {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		background-repeat: repeat-y;
		background-size: 100%;
		background-position: left top;
	}

	padding-block: rem(120);
	@include md {
		padding-block: rem(70);
	}
}

[class*="_lang"] {
	display: inline-flex;
	align-items: center;
	gap: rem(10);

	.btn-lang {
		font-weight: 400;
		font-size: rem(12);
		color: var(--white);

		opacity: 0.4;
		transition: opacity 0.3s ease-in-out;

		&:hover {
			opacity: 0.55;
		}
		&.active {
			opacity: 0.8;
		}
	}
}

.btn-accent,
.btn-callback {
	font-weight: 700;
	font-size: rem(12);
	color: #4e421b;

	border-radius: rem(20);
	padding-inline: rem(20);
	min-height: rem(34);

	display: flex;
	align-items: center;

	background: linear-gradient(303deg, #f4de91 0%, #e4c559 42.31%, #e1c150 49%, #f0d883 68.27%, #f5d668 100%);
	transition: all 0.3s ease-in-out;

	&:hover {
		filter: brightness(1.5);
		box-shadow: 0 0 4px 4px rgb(225, 193, 80, 0.35);
	}
}

// BURGER BUTTON
.burger {
	position: relative;
	display: inline-block;

	width: rem(20);
	height: rem(13);

	flex-shrink: 0;

	cursor: pointer;

	span,
	&::before,
	&::after {
		display: block;
		content: "";
		transition: all 0.3s ease-in-out;
		position: absolute;
		left: 0;
		width: 100%;
		height: 1.5px;
		background-color: var(--black);
		border-radius: rem(10);
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
	span {
		top: 50%;
		transform: translateY(-65%);
	}
	&.active span {
		width: 0;
		background-color: var(--white);
	}
	&.active::before {
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
		background-color: var(--white);
	}
	&.active::after {
		bottom: 50%;
		transform: translateY(50%) rotate(45deg);
		background-color: var(--white);
	}
}

// REQUEST FFORM
.request-form {
	color: var(--black);

	border-radius: rem(20);
	padding: rem(30);
	background-color: var(--white);

	max-width: rem(387);
	min-width: rem(290);
	width: 100%;

	&__title {
		font-size: rem(28);
		text-align: center;

		margin-bottom: rem(5);
	}

	&__description {
		text-align: center;
		font-size: rem(14);

		margin-bottom: rem(35);
	}

	&__group {
		display: flex;
		align-items: start;
		gap: rem(8);

		input:not([type="checkbox"], [type="radio"]) {
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: rem(10);
			width: 100%;
			min-height: rem(50);
			padding-inline: rem(15);

			font-size: rem(14);
			color: var(--black);

			&::placeholder {
				color: var(--black);
			}
		}
		.custom-checkbox {
			position: relative;
			top: -4px;
		}
	}
	&__group:nth-of-type(1) {
		margin-bottom: rem(15);
	}
	&__group:nth-of-type(2) {
		margin-bottom: rem(19);
	}

	.btn-accent {
		margin-top: rem(17);
	}
	.privacy {
		font-size: rem(14);
		a {
			color: var(--balck);
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

// CUSTOM CHECKBOX
.custom-checkbox {
	flex-shrink: 0;
	appearance: none;

	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	width: 24px;
	height: 24px;
	background-color: var(--white);

	cursor: pointer;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-checkbox:checked {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxNCAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMSA1TDUgOUwxMyAxIiBzdHJva2U9InVybCgjcGFpbnQwX2xpbmVhcl85M185NDUpIiBzdHJva2Utd2lkdGg9IjIiIC8+CiAgPGRlZnM+CiAgICA8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXJfOTNfOTQ1IiB4MT0iMTIuNjc5NCIgeTE9IjcuNTMzMzMiIHgyPSIwLjQ4NzQ3MyIgeTI9IjUuMDY5NzciIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iI0Y0REU5MSIgLz4KICAgICAgPHN0b3Agb2Zmc2V0PSIwLjQyMzA3NyIgc3RvcC1jb2xvcj0iI0U0QzU1OSIgLz4KICAgICAgPHN0b3Agb2Zmc2V0PSIwLjQ5IiBzdG9wLWNvbG9yPSIjRTFDMTUwIiAvPgogICAgICA8c3RvcCBvZmZzZXQ9IjAuNjgyNjkyIiBzdG9wLWNvbG9yPSIjRjBEODgzIiAvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNGNUQ2NjgiIC8+CiAgICA8L2xpbmVhckdyYWRpZW50PgogIDwvZGVmcz4KPC9zdmc+");
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center center;
}
.custom-checkbox:hover {
	outline: 1px solid var(--accentlight);
}
.custom-checkbox:active {
	outline: 1px solid var(--accentlightest);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------
Black card
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.black-card {
	color: var(--white);
	border-radius: rem(20);
	backdrop-filter: blur(19px);
	background: #262626;
	padding: rem(20);

	flex-shrink: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: rem(15);

	&__label {
		width: rem(40);
		aspect-ratio: 1/1;
		border-radius: rem(10);
		background: linear-gradient(303deg, #f4de91 0%, #e4c559 42.31%, #e1c150 49%, #f0d883 68.27%, #f5d668 100%);

		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			aspect-ratio: 1/1;
			width: 51%;
		}

		@include md {
			border-radius: rem(6);
			width: rem(32);
		}
	}

	&__row {
		display: flex;
		align-items: start;
		justify-content: space-between;
	}

	&__count {
		font-weight: 700;
		font-size: rem(16);
		@include sm {
			opacity: 0;
		}
	}

	&__title {
		font-weight: 700;
		font-size: rem(16);

		margin-bottom: rem(7);
	}

	&__description {
		font-size: rem(12);
	}
}

/*---------------------------------------------------------------------------------------------------------------------------------------------
Cases card
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.cases-card {
	display: flex;
	flex-direction: column;
	gap: rem(15);

	&__image {
		aspect-ratio: 1/1;
		overflow: hidden;
		width: 100%;
		border-radius: rem(20);

		border: 1px solid transparent;
		transition: all 0.3s ease-in-out;

		display: flex;
		align-items: center;

		&:hover {
			border: 1px solid var(--gold);
			img {
				transform: scale(1.1);
			}
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
			overflow: hidden;

			transition: all 0.3s ease-in-out;
		}
	}
	&__tags {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		gap: rem(5);
	}

	&__tag {
		border-radius: rem(36);
		padding: 4px 8px 6px;

		background-color: var(--black);

		font-weight: 700;
		font-size: rem(10);
		text-align: center;
		color: var(--white);

		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: var(--gold);
			color: var(--black);
		}
	}

	&__link {
		color: var(--black);
		&:hover {
			.cases-card__title {
				color: var(--gold);
			}
		}
	}

	&__title {
		font-weight: 700;
		font-size: rem(20);
		line-height: 120%;

		transition: all 0.3s ease-in-out;

		margin-bottom: rem(12);
	}

	&__description {
		font-size: rem(12);
		line-height: 120%;
	}
}
/*---------------------------------------------------------------------------------------------------------------------------------------
NUMBERS
----------------------------------------------------------------------------------------------------------------------------------------*/
.numbers {
	color: var(--black);
	display: flex;
	flex-direction: column;
	gap: rem(15);

	@include md {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;

		margin-bottom: rem(40);
	}

	&__item {
		display: inline-flex;
		gap: rem(10);
		align-items: center;

		@include md {
			flex-direction: column;
		}
	}

	&__label {
		aspect-ratio: 1/1;
		width: rem(42);

		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 50%;
		font-weight: 700;
		font-size: rem(16);
		line-height: 100%;
		text-align: center;
		color: var(--white);

		background: #262626;

		&--gold {
			color: #4e421b;
			background: var(--gradient);
		}

		@include sm {
			width: rem(60);
		}
	}
	&__text {
		font-weight: 700;
		font-size: rem(16);
		line-height: 120%;
		@include sm {
			font-size: rem(18);
		}
	}
}

/*---------------------------------------------------------------------------------------------------------------------------------------
Playlabel
----------------------------------------------------------------------------------------------------------------------------------------*/

.playlabel {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-weight: 700;
	font-size: rem(20);
	line-height: 100%;
	color: #4e421b;

	aspect-ratio: 1/1;
	max-width: rem(76);
	width: 17%;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	background: var(--gradient);
	transition: all 0.3s ease-in-out;

	svg {
		transition: all 0.2s ease-in-out;
		aspect-ratio: 1/1;
		width: 33%;
		margin-left: 2px;
	}

	&:hover {
		transform: translate(-50%, -50%) scale(1.2);
		svg {
			transform: scale(1.75);
		}
	}
}

/*---------------------------------------------------------------------------------------------------------------------------------------
White card
----------------------------------------------------------------------------------------------------------------------------------------*/
.white-card {
	color: var(--black);

	border-radius: rem(20);
	padding: rem(20);
	backdrop-filter: blur(19px);
	background: var(--white);

	display: flex;
	align-items: center;
	gap: rem(15);

	min-height: rem(80);
	height: 100%;

	&--vertical {
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		min-height: rem(120);
		gap: rem(20);
	}

	&__label {
		flex-shrink: 0;

		width: rem(40);
		aspect-ratio: 1/1;
		border-radius: rem(10);
		background: linear-gradient(303deg, #f4de91 0%, #e4c559 42.31%, #e1c150 49%, #f0d883 68.27%, #f5d668 100%);

		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			aspect-ratio: 1/1;
			width: 51%;
		}

		@include md {
			border-radius: rem(6);
			width: rem(32);
		}
	}

	&__description {
		font-weight: 700;
		font-size: 16px;

		@include md {
			font-size: rem(14);
		}

		@include sm {
			font-size: rem(15);
		}
	}
}

/*---------------------------------------------------------------------------------------------------------------------------------------
Page banner
----------------------------------------------------------------------------------------------------------------------------------------*/

.page-banner {
	position: relative;
	overflow: hidden;
	max-width: rem(493);
	aspect-ratio: 1/1;
	z-index: 1;

	&--video {
		border-radius: rem(20);
	}

	@include xl {
		max-width: rem(300);
		margin-inline: auto;
	}
	img {
		display: block;
		width: 100%;
		aspect-ratio: 1/1;
		object-fit: cover;
		overflow: hidden;
	}
}

/*---------------------------------------------------------------------------------------------------------------------------------------
Page Notation aligned center
----------------------------------------------------------------------------------------------------------------------------------------*/
.page-notation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: rem(5);
	height: 100%;

	&__title {
		font-weight: 700;
		font-size: rem(18);
		color: var(--black);

		@include sm {
			font-size: rem(15);
		}
	}
	&__text {
		font-weight: 400;
		font-size: rem(14);
		color: var(--black);

		font-size: rem(13);
	}
}
