/* ------------------------------------------------------------------------------------------------------------------------------
FOOTER
--------------------------------------------------------------------------------------------------------------------------------*/
.footer {
	background-color: var(--black);
	position: relative;
	z-index: 1;

	.container {
		min-height: rem(222);

		@include lg {
			min-height: rem(155);
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;

		padding-block: rem(50);
		gap: rem(40);

		@include md{
			flex-wrap: wrap;
			justify-content: center;
		}


		
	}

	&__logo {
		font-weight: 700;
		font-size: rem(46);
		color: var(--white);

		@include lg {
			font-size: rem(36);
		}

		@include md {
			font-size: rem(28);
		}
	}

	&__group {
		display: inline-flex;
		flex-direction: column;
		gap: rem(20);

		@include sm {
			gap: rem(15);
		}
	}

	&__politic {
		font-weight: normal;
		font-size: rem(12);
		color: var(--white);
		opacity: 0.4;
		transition: opacity 0.3s ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}

	&__nav {
		ul {
			display: inline-flex;
			flex-direction: column;
			gap: rem(20);

			@include sm {
				gap: rem(10);
			}
		}
		li a {
			font-weight: 400;
			font-size: rem(12);
			color: var(--white);
			opacity: 0.4;
			transition: opacity 0.3s ease-in-out;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__grow-centered {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		position: relative;
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		gap: rem(10);

		min-width: rem(234);

		.btn-accent {
			width: 100%;
			justify-content: center;
		}
		.btn-accent:nth-child(2),
		.btn-accent:nth-child(3) {
			background: var(--white);
		}
	}
}
