/* --------------------------------------------------------------------------------------------------------------------------
MAIN CASES --- BLOCK 8
--------------------------------------------------------------------------------------------------------------------------------*/
.main-cases {
	color: var(--black);

	.section__title {
		margin-bottom: rem(60);
		font-size: rem(50);
		@include sm {
			font-size: rem(36);
			margin-bottom: rem(40);
		}
	}

	&__part {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: -100px;
			height: calc(100% + 200px);
			left: 0;
			right: 0;
			background-image: url("../../images/main/webp/main-8-bg.webp");			
			background-size: 100%;
			background-position: center center;
		}

		padding-block-start: rem(124);
	}

	.btn-accent {
		margin-top: rem(55);
		margin-inline: auto;
		@include sm {
			margin-top: rem(40);
		}
	}
}
