/* ------------------------------------------------------------------------------------------------------------------------------
PAGE PART FORM
--------------------------------------------------------------------------------------------------------------------------------*/
.simplepage {
	&-nextstep {
		color: var(--white);

		&__part {				

			position: relative;
			&:before {
				content: "";
				position: absolute;
				top: -120px;
				height: calc(100% + 200px);
				left: 0;
				right: 0;
				background-image: url("../../images/page/webp/page-last-bg.webp");
				background-size: 100%;
				background-position: center center;
			}

			.request-form {
				color: var(--white);
				background-color: #262626;
				input {
					background-color: #262626;
					border-color: rgb(255, 255, 255, 0.2);
					&::placeholder {
						color: var(--white);
					}
				}
			}

			.section__title {
				text-align: left;
				padding-top: rem(20);
				margin-bottom: rem(20);

				.title-decor {
					letter-spacing: 0;
				}

				@include xl {
					font-size: rem(36);
				}
				@media (max-width: 820px) {
					text-align: center;
					font-size: rem(47);
				}
				@include sm {
					margin-bottom: rem(20);
					font-size: rem(28);
				}
				.title-decor {
					@include xl {
						font-size: rem(36);
					}
					@media (max-width: 820px) {
						font-size: rem(50);
					}
					@include sm {
						font-size: rem(28);
					}
				}
			}

			padding-block-end: rem(118);
			@include lg {
				padding-block-end: rem(200);
			}
			@include md {
				padding-block-end: rem(130);
			}
		}

		&__row {
			position: relative;
			z-index: 1;

			display: flex;
			justify-content: space-between;
			gap: rem(75);

			@media (max-width: 820px) {
				flex-wrap: wrap;
				gap: rem(30);
			}
		}

		&__item {
			@media (max-width: 820px) {
				margin-inline: auto;
			}
		}
		&__item:nth-child(2) {
			min-width: rem(387);
			@include sm {
				min-width: rem(290);
			}
		}

		.section__title {
			text-align: left;
			margin-bottom: rem(20);

			@include xl {
				font-size: rem(36);
			}
			@media (max-width: 820px) {
				text-align: center;
				font-size: rem(47);
			}
			@include sm {
				margin-bottom: rem(40);
				font-size: rem(28);
			}
			.title-decor {
				@include xl {
					font-size: rem(36);
				}
				@media (max-width: 820px) {
					font-size: rem(50);
				}
				@include sm {
					font-size: rem(28);
				}
			}
		}

		&__description {
			font-size: rem(14);

			p {
				margin-bottom: rem(15);
			}
			@media (max-width: 820px) {
				text-align: center;
			}
		}

		&__organizer {
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translateY(45%);

			width: rem(752);
			aspect-ratio: 148/86;
			z-index: 1;

			@include xl {
				max-width: rem(600);
			}

			@media (max-width: 820px) {
				left: 50%;
				width: 85%;
				min-width: rem(400);
				transform: translate(-50%, 45%);
			}

			img {
				display: block;
				width: 100%;
				height: auto;
				object-fit: cover;
				overflow: hidden;
			}
		}
	}
}
