@font-face {
	font-family: Playfair;
	font-display: swap;
	src: url("../fonts/Playfair-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Playfair;
	font-display: swap;
	src: url("../fonts/Playfair-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: TildaSans;
	font-display: swap;
	src: url("../fonts/TildaSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: TildaSans;
	font-display: swap;
	src: url("../fonts/TildaSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

