/* ------------------------------------------------------------------------------------------------------------------------------
ROOT
--------------------------------------------------------------------------------------------------------------------------------*/
:root {	
	--site-width: 1440px;
	--container-width: 1240px;

	--desktop-padding: 100px;
	--lg-padding: 50px;
	--sm-padding: 15px;

	--font-main: "TildaSans", sans-serif;
	--font-decor: 'Playfair', sans-serif;

	--black: #000;
	--white: #fff;

	--scrollbar: gray;
	--scrollbar-track: gray;
	--scrollbar-thumb: rgb(18, 18, 18);	
}